<header>
    <nav class="header-nav">
        <a class="header-title" href="/"> Expired Cucumbers</a>
        <ul >
            <li> <a href="/mangas">Mangas</a></li>
            <li> <a href="/mangas/new">Add Manga </a></li>
            <li> <a href="/authors"> Authors</a></li>
            <li> <a href="/authors/new"> Add Author </a></li>
        </ul>
    </nav>
</header>